<div>
  <table-users [data]="(users$ | async)?.data || []" />
  <app-pagination
    [currentPage]="(usersQuery$ | async)?._page || 1"
    [lastPage]="(users$ | async)?.last || 1"
    (onPageChange)="changePageNumber($event)"
  />
</div>

<!-- Show loading users indicator. -->
@if(loadingUsers$ | async) {
  <div>Loading users...</div>
}
<!-- Show message error loading user. -->
@if(errorLoadUsers$ | async) {
  <div>There was an error loading data.</div>
}

<!-- Show deleting user indicator. -->
@if(deletingUser$ | async) {
  <div>Deleting user...</div>
}
<!-- Show message error deleting user. -->
@if(errorDeleteUser$ | async) {
  <div>There was an error deleting user.</div>
}
